@charset "UTF-8";
/*共通*/
body {
  margin: 0;
  color: #607d8b;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Spinnaker', sans-serif;
}
a {
  text-decoration: none;
}
p {
  line-height: 2;
}
section:not(:first-of-type) {
  padding-top: 130px;
  padding-bottom: 130px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  background-image: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea:focus {
  outline-offset: unset;
  outline: unset;
}
.section_title {
  text-align: center;
  transition: 0.4s ease-out;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
}
.title_main {
  display: inline-block;
  font-size: 42px;
  color: #6fc2d0;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.25em;
}
.title_sub {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
  color: #646460;
}
.block {
  width: 90%;
  margin: 50px auto 0;
}
.block.one_column {
  width: 48%;
  max-width: 540px;
}
.block.two_column,
.block.three_column {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.block.two_column .right,
.block.two_column .left {
  width: 50%;
}
.block.three_column > div {
  width: calc(100% / 3);
}
.indent {
  text-indent: 1rem;
}
.center {
  text-align: center;
}
.font_lighter {
  font-weight: 200;
}

/*アニメーション*/
.animated.delay-0_3s {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animated.delay-0_6s {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animated.delay-0_9s {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.animated.delay-1_2s {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/*header*/
.header_top {
  position: absolute;
  right: 0;
  width: 80px;
  height: 640px;
  background-color: #fff;
  border-bottom: 1px solid #cfd8dc;
}
.header_btn {
  background-color: #6fc2d0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 3;
}
.header_btn span {
  background: #fff;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.header_btn[data-status=open] span {
  top: 26px;
  width: 35px;
}
.header_btn span:nth-of-type(1) {
  top: 32px;
}
.header_btn span:nth-of-type(2) {
  top: 43px;
}
.header_btn span:nth-of-type(3) {
  top: 54px;
}
.header_btn[data-status=open] span:nth-of-type(1) {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 40px;
}
.header_btn[data-status=open] span:nth-of-type(2) {
  opacity: 0;
}
.header_btn[data-status=open] span:nth-of-type(3) {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 40px;
}
.header_btn[data-status=open] +.header_nav {
  top: 0;
}
.header_nav {
  position: fixed;
  right: 0;
  top: -100vh;
  width: 50vw;
  height: 100vh;
  transition: top 0.5s cubic-bezier(1,0,0,1),opacity 0.5s ease;
  background-color: rgba(16, 16, 16, 0.8);
  padding: 5% 3%;
  box-sizing: border-box;
  z-index: 2;
}
.header_nav.hidden {
  top: -100vh;
}
.header_nav ul {
  margin: 0 auto;
  max-width: 295px;
  text-align: center;
}
.header_nav li {
  border-bottom: 1px solid #808080;
  margin-bottom: 28px;
  transition: all 0.5s;
}
.header_nav li:last-child {
  margin-bottom: 0;
}
.header_nav li:hover,
.header_nav li:active {
  border-bottom: 1px solid #6fc2d0;
}
.header_nav a {
  display: block;
  font-size: calc(0.43vw + 14.38px);
  color: #fff;
  padding-bottom: 24px;
}
.header_text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  text-align: center;
}
.header_text p {
  text-align: left;
  display: inline-block;
  font-size: 24px;
  letter-spacing: .3em;
}

/*top*/
section.top {
  width: calc(100% - 80px);
  height: 640px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-bottom: 1px solid #cfd8dc;
}
section.top .main_visual,
section.top .main_content {
  display: inline-block;
  height: 100%;
}
section.top .main_visual {
  overflow: hidden;
  box-sizing: border-box;
  width: calc(50vw + 80px);
}
section.top .main_visual img {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
}
section.top .main_content {
  width: 50vw;
  min-width: auto;
}
section.top .main_text {
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 10%;
  box-sizing: border-box;
}
section.top .main_text .text_animate {
  position: absolute;
  top: 30%;
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 0.3em;
  font-weight: 200;
  opacity: 0;
}
section.top .main_text .text_animate.on {
  opacity: 1;
}
section.top .slider {
  display:none;
}
section.top .slider.slick-initialized {
  display: block;
}

/*about*/
#about .circle {
  position: relative;
  transform: rotate(-40deg);
  opacity: 0;
}
#about .circle.box {
  transform: rotate(0);
  transition: all 0.8s 0.9s;
  opacity: 1;
  z-index: -1;
}
#about .background_circle {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffee6b;
}

/*skills*/
#skills .skill_img {
  text-align: center;
  margin: 0 3% 1.5em;
}
#skills .skill_img img {
  opacity: 0.8;
}
#skills .skill_text {
  text-align: left;
  margin: 0 10%;
}

/*work*/
#work {
  position: relative;
}
#work:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  z-index: -1;
  animation: rotation 0.3s linear forwards;
}
#work .box {
  border-radius: 7px;
  width: 47%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3%;
}
#work .box_title {
  font-size: 20px;
  border-bottom: 2px dashed #607d8b;
  padding-bottom: 5px;
}
#work .box_detail {
  margin-top: 15px;
}

/*output*/
#output .output_text {
  margin-top: 25px;
  font-size: 18px;
}
#output .list {
  height: 100%;
  max-width: 860px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#output .list li {
  width: 46%;
  min-height: 280px;
  margin: 2%;
  transition: all 0.55s;
}
#output .list .list_item:hover {
  border-radius: 30px;
  background-color: rgba(0,0,0,0.4);
}
#output .list .list_item img {
  width: 100%;
  transition: all 0.55s;
}
#output .list .list_item:hover img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  border-radius: 30px;
  transition: all 0.55s;
}
#output .list .list_item a {
  color: #607d8b;
}
#output .list .list_item p {
  text-align: center;
  margin: 3%;
  transition: all 0.3s;
}
#output .list .list_item p.large_text {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
#output .list .list_item:hover p {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}

/*contact*/
#contact .contact_info {
  max-width: 720px;
}
#contact form {
  width: 100%;
}
#contact .contact_info .input_area {
  margin-bottom: 30px;
  min-height: 48px;
}
#contact .contact_info label {
  width: 30%;
  text-align: right;
  display: inline-block;
  max-width: 140px;
  margin-right: 10px;
  vertical-align: top;
}
#contact .contact_info input {
  height: 30px;
}
#contact .contact_info textarea {
  resize: none;
}
#contact .contact_info .input_text {
  width: 68%;
  border: 1px solid #607d8b;
  font-size: 16px;
  padding-left: 1rem;
}
#contact .contact_info .input_text:focus {
  border-color: #6fc2d0;
}
#contact .contact_info .input_submit {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: #6fc2d0;
  color: #fff;
}
#contact .contact_info .button {
  width: 100%;
  height: 40px;
}
#contact .alert,
#contact .error_msg {
  color: #ff5050;
}
#contact .error_msg {
  display: inline-block;
  vertical-align: inherit;
  font-size: 10px;
  color: #ff5050;
}
#contact .button input {
  cursor: pointer;
}
#contact .button input[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/*footer*/
.footer {
  background-color: #101010;
  text-align: center;
  position: relative;
  padding: 40px 0 32px;
  box-sizing: border-box;
}
.footer a,
.footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}
.footer_nav {
  text-align: center;
}
.footer_nav ul {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-bottom: 25px;
}
.footer_nav li {
  height: 14px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.footer_nav li + li {
  border-left: 1px solid #fff;
  margin-left: 16px;
  padding-left: 16px;
}
.footer_nav a {
  transition: all 0.5s;
  text-decoration: none;
}
.copyright p {
  color: #808080;
}
.footer_nav a:hover {
  color: #6fc2d0;
  transition: all 0.5s;
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  /*top*/
  section.top .main_text .text_animate {
    font-size: calc(5.1vw - 11px);
  }
}

@media screen and (min-width: 768px) {
  .top_link {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /*共通*/
  .block.one_column {
    width: 70%;
  }
  .block.two_column,
  .block.three_column {
    display: block;
  }
  .block.three_column > div {
    width: 100%;
  }
  .block.three_column .right,
  .block.three_column .center {
    margin-bottom: 30px;
  }
  /*header*/
  .header_top {
    position: inherit;
    background-color: inherit;
    width: 100%;
    height: 80px;
    border-bottom: none;
  }
  .header_btn {
    right: 0;
    left: auto;
  }
  .header_nav {
    width: 100vw;
    padding: 20%;
  }
  .header_text {
    position: unset;
    transform: inherit;
    -ms-writing-mode: inherit;
    -moz-transform: inherit;
    -webkit-writing-mode: inherit;
    writing-mode: inherit;
    text-align: left;
    margin-left: 20px;
    padding: 23px 0;
    box-sizing: border-box;
  }
  .header_text p {
    font-size: 18px;
  }
  /*top*/
  section.top {
    width: 100%;
    border-bottom: none;
  }
  section.top .main_content {
    width: initial;
  }
  section.top .main_visual {
    width: 100%;
  }
  section.top .main_text {
    padding: 0;
    position: absolute;
    top: 0;
    left: 10%;
    box-sizing: border-box;
    color: #fff;
  }
  section.top .main_text .text_animate {
    font-size: 40px;
  }
  /*work*/
  #work .box {
    width: 100%;
  }
  /*output*/
  #output .list {
    flex-direction: column;
    -ms-flex-direction: column;
  }
  #output .list li {
    width: 100%;
    margin: 2% 0;
  }
  /*contact*/
  #contact .contact_info label {
    width: 100%;
    text-align: left;
  }
  #contact .contact_info .input_text {
    width: 96%;
  }
  .top_link {
    background-color: #808080;
    text-align: center;
  }
  .top_link a {
    display: block;
    padding: 17px 0;
    color: #f5f5f5;
    text-decoration: none;
  }
  .top_link a:after {
    content: "\f139";
    font-family: "Font Awesome 5 Free";
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  /*共通*/
  .title_main {
    font-size: calc(4.4vw + 21px);
  }
  /*header*/
  .header_text p {
    font-size: calc(2.5vw + 6px);
  }
  /*top*/
  section.top .main_text .text_animate {
    font-size: calc(7.5vw + 4px);
  }
  .footer_nav ul {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .footer_nav li {
    display: block;
    height: inherit;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 18px;
    transition: all 0.5s;
  }
  .footer_nav li:hover {
    border-bottom: 1px solid #6fc2d0;
    transition: all 0.5s;
  }
  .footer_nav li + li {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
  .footer .footer_nav li a {
    display: block;
    padding-bottom: 16px;
  }
  .footer_nav a:hover {
    color: #fff;
  }
}











